
	<footer>
		<div class="container">
			<div class="content-footer row">
				<div class="column-footer col-lg-5 col-md-8 col-sm-7">
					<h3>Dane Kontaktowe</h3>
					<ul>
					<li>TELEFON: 76 844 70 69</li>
					<li>E-MAIL: <a href="mailto:info@colucci.pl">info@colucci.pl</a></li>
						<li>SIEDZIBA: 59-300 Lubin, Sosnowa 8</li>
						<li>SERWIS / SPRZEDAŻ: 59-300 Lubin, Gola 3G</li>
						
						<li id="follow-us">ŚLEDŹ NAS NA: 
						<a href="https://www.facebook.com/Colucci-Polska-111380610396120"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/company/37376353"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/colucci_automaty/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://twitter.com/ColucciPolska"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/channel/UCfoA7vXtQnN_zfXwVTP1QUA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>

				<div class="column-footer col-lg-4 col-md-5 col-sm-7">
					<h3>Godziny otwarcia</h3>
					<ul id="restaurant-hours">
						<li>
							<span class="span-left">Biuro:</span>
						</li>
						<li>
							<span class="span-left">Poniedziałek - Piątek</span>
							<span class="span-right">8:00 - 16:00</span>
						</li>
					
						<li>
							<span class="span-left">Serwis:</span>
						</li>
						<li>
							<span class="span-left">7 dni w tygodniu</span>
							<span class="span-right">24 godziny na dobę</span>
						</li>
						
					</ul>
					<div class="line-divide first-line"></div>
				</div>

				<div class="column-footer col-lg-3 col-md-3 col-sm-7">
					<h3>Użyteczne linki</h3>
					<ul id="useful-links">
						<li>
							<span class="span-left">
								<a href="/">Strona Główna</a>
							</span> 
							<span class="span-right">
								<a href="/#Oferta">Oferta</a>
							</span>
						</li>
						<li>
							<span class="span-left">
								<a href="/produkty">Produkty</a>
							</span> 
							<span class="span-right">
								<a href="/kontakt">Kontakt</a>
							</span>
						</li>
						<li><a href="/o-nas">O nas</a></li>
					</ul>
					<div class="line-divide second-line"></div>
				</div>
			</div>
		</div>
		<div class="wrap-bottom-footer">
			
		</div>
	</footer>
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>