<!DOCTYPE html>
<html lang="en">
<head>
	<!--Basic Page Needs-->
	<title> {{title}}</title>
	<meta charset="UTF-8">
	<meta name="description" content="Colucci Polska Sp. z o.o. Jesteśmy niezależnym operatorem z własną siecią automatów sprzedających.">
	<meta name="author" content="Colucci Polska Sp. z o.o. Automaty Sprzedające">
	<meta name="keywords" content="Automaty Sprzedające, Vending, Lubin, Ekspresy do kawy, Kawa, dystrybutor wody">
	<meta name="google-site-verification" content="cCz_8e_DOuHBEp2Ojhy1qL4Ohau_OH9QrDZEELiY674" />
	<!--Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">