{{>tittle}}

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/jqueryui/jquery-ui.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/main2.css">
<!--===============================================================================================-->
</head>
<body>
<div class="animsition">	
	{{>header}}

	<!-- Title Shop page 
	<section>
		<div class="bg-title-sub-page bg-menu-page-03">	
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Ekspresy do kawy</h2>
				<h6 class="title-s">Colucci</h6>
			</div>
		</div>
	</section>
-->


	<div class="wrap-intro for-page for-our-food">
		<div class="container">
			<div class="row">
				<div class="wrap-pic-intro col-sm-10 col-md-8 col-lg-5">
					<div class="hover-img wrap-video-about-us">
						<img src="images/img-our-food-about-us1.jpg">
					</div>
				</div>

				<div class="text-intro col-sm-10 col-md-8 col-lg-7 wow fadeInDown">
					
					<h2>Ekspresy do kawy</h2>
					<p>
					W naszej ofercie posiadamy szeroką gamę sprawdzonych urządzeń, która pozwala nam na dobranie dla Państwa dedykowanych i niezwykle spersonalizowanych rozwiązań. Współpraca z nami jest bardzo elastyczna, a naszą misją jest wychodzić naprzeciw potrzebom naszych klinetów. Poniżej znajdą Państwo kilka przykładowych modeli współpracy i urządzeń.
					</p>
					<p>
					<b>Dzierżawa</b> - za niewielką opłatą miesięczną, stajecie się Państwo operatorem urządzenia, a my zapewniamy pełne wsparcie techniczne i najwyższej jakości produkty w niskich cenach.
					</p>
					<p>
					<b>Sprzedaż</b> - nawet jeśli zdecydują się Państwo na zakup urządzenia na własność, gwarantujemy pełne wsparcie serwisowe i najwyższej jakości produkty w niskich cenach.
					</p>
				</div>

			</div>
		</div>
	</div>

	<center>

	
	<section class="content-shop-page">
		<div class="container">
		
				<!-- Shop list -->
				<div class="col-md-12 col-lg-9">
						<div class="middle-shop-list row">
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-xxoc"><img src="images/shop-page-img-item-01.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-xxoc"><h4 class="name-item">XX OC</h4></a>
								<p class="price-item"></p>
								<a href="/pd-xxoc"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-ec"><img src="images/shop-page-img-item-02.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-ec"><h4 class="name-item">EC</h4></a>
								<p class="price-item"></p>
								<a href="/pd-ec"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-xsgrande"><img src="images/shop-page-img-item-03.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-xsgrande"><h4 class="name-item">XS GRANDE</h4></a>
								<p class="price-item"></p>
								<a href="/pd-xsgrande"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
					</div>

					<div class="middle-shop-list row">
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-larheaec"><img src="images/shop-page-img-item-04.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-larheaec"><h4 class="name-item">LaRhea EC</h4></a>
								<p class="price-item"></p>
								<a href="/pd-larheaec"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-larheagrande"><img src="images/shop-page-img-item-05.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-larheagrande"><h4 class="name-item">LaRhea Grande</h4></a>
								<p class="price-item"></p>
								<a href="/pd-larheagrande"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-kalea"><img src="images/shop-page-img-item-07.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-kalea"><h4 class="name-item">Kalea</h4></a>
								<p class="price-item"></p>
								<a href="/pd-kalea"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
					</div>

					<div class="middle-shop-list row">
						
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-koroprime"><img src="images/shop2/shop-page-img-item-02.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-koroprime"><h4 class="name-item">Koro Prime</h4></a>
								<p class="price-item"></p>
								<a href="/pd-koroprime"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="pd-korintoprime"><img src="images/shop2/shop-page-img-item-03.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-korintoprime"><h4 class="name-item">Korinto Prime</h4></a>
								<p class="price-item"></p>
								<a href="/pd-korintoprime"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="/pd-kreatouch"><img src="images/shop2/shop-page-img-item-01.jpg" alt="img-food"></a>
								</div>
								<a href="/pd-kreatouch"><h4 class="name-item">Krea Touch</h4></a>
								<p class="price-item"></p>
								<a href="/pd-kreatouch"><button class="btn-with-bg add-to-cart">SZCZEGÓŁY</button></a>
							</div>
						</div>
					</div>
					</div>	
				</div>
			</div>
	</center>	</div>
	</section>

{{>footer}}
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jqueryui/jquery-ui.min.js"></script>
	<script src="js/draggable-jquery-ui.custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap-notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="js/bootstrap-notify-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</div>
</body>
</html>