{{>tittle}}

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="vendor/revolution/css/settings.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
<!--===============================================================================================-->


</head>

<body  class="animsition">

	{{>header}}


	<section id="slider-deli">
		<!-- Slider -->

		<div class="rev_slider_wrapper fullscreen-container" >
			<div id="rev_slider_1" class="rev_slide fullscreenbanner" style="display: none;">
				<ul>
					
					<!-- Slide 2 -->
					<li data-transition="fade">
						<img src="images/slide-02.jpg" alt="Automaty" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":300,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-80','-80','-140','-140']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['90', '90', '80', '70']"
					    data-height="['auto']">Automaty sprzedające</h3>

						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','90','80']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/automaty" class="btn2">ODKRYJ</a>
						</div>
					</li>

					<!-- Slide 1 -->
					<li data-transition="fade" data-delay="3000">
						<img src="images/slide-01.jpg" alt="Ekspresy" class="rev-slidebg"
						data-bgposition="center center"
						data-bgfit="cover" 
         				data-bgrepeat="no-repeat">

						
					
						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":300,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['90', '90', '80', '70']"
					    data-height="['auto']">Ekspresy do kawy</h3>
						
						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','90','80']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/ekspresy" class="btn2">ODKRYJ</a>
						</div>
					</li>

				

					<!-- Slide 3 -->
					<li data-transition="fade">
						<img src="images/slide-03.jpg" alt="Woda" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":300,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']"
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['90', '90', '80', '70']"
					    data-height="['auto']">Dystrybutory wody</h3>
						
						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','90','80']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/Dystrybutory" class="btn2">ODKRYJ</a>
						</div>
					</li>
				</ul>				
			</div>
		</div>
		</div>
		<!-- End Slider --> 
		
<div class="tekst-tomka">
	<div class="tekst-width">
		<div class="text-reservation wow fadeInUp" data-wow-delay="0.2">
				<h3>Witamy w świecie Colucci!</h3>
				<h6>Jesteśmy niezależnym operatorem z własną siecią automatów sprzedających. Colucci to najwyższej jakości <a href="/produkty"><b>produkty</b></a>, które zawsze masz w zasięgu ręki. Biuro, fabryka, salon samochodowy czy uczelnia wszędzie tam jesteśmy dla Ciebie. Instalacja automatów jest prostrza niż myślisz, a produkty kosztują mniej niż się spodziewasz.
				Jeśli masz ochotę na doskonałą kawę, zimny napój lub smakowitą przekąskę - zapoznaj się z naszą ofertą. Zrób sobie przerwę i <a href="/kontakt"><b>umów się z naszym przedstawicielem</b></a>, na kawę oczywiście.</h6>
		</div>
	</div>
	
<a id="example"></a>
</section>
</div>

	<!-- Event -->
	
	<section id="event">
		<div class="container">
			<!-- title event -->
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Poznaj Naszą</h6>
					<h2>Ofertę</h2>
				</div>
					

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="img-event">
							<a href="/automaty"><img alt="picture-event" src="images/img-event-02.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="/automaty">Automaty sprzedające</a></h3>
						<p>
						W naszej ofercie posiadamy automaty sprzedające napoje gorące oraz automaty z przekąskami i zimnymi napojami.
						</p>
		
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="img-event">
							<a href="/ekspresy"><img alt="picture-event" src="images/img-event-01.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="/ekspresy">Ekspresy do kawy</a></h3>
						<p>
						Pyszna kawa na wyciągnięcie ręki! Już nie musisz chodzić do kawiarni żeby rozsmakować się w doskonale przygotowanej, aromatycznej kawie.
						</p>

					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
						<div class="img-event">
							<a href="/dystrybutory"><img alt="picture-event" src="images/img-event-03.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="/dystrybutory">Dystrybutory wody</a></h3>
						<p>
						Oferujemy urządzenia filtrujące, które dzięki stałemu podłączeniu do sieci wodociągowej, gwarantują nieograniczony dostęp do krystalicznie czystej wody.
						</p>
				
					</div>
			</div>			
		</div>
	</section>
</div>	

	<!-- Banner -->
	<div class="parallax-banner" >
		<div class="content-banner">
			<div class="text-banner wow zoomIn">
				
			<h3><a href="/"><img alt="logo-colucci" src="images/icons/logo1.png"></a></h3>
			</div>
			<div class="symbol-banner wow zoomIn" data-wow-delay="0.5s">
				<img alt="symbol" src="images/icons/symbol-banner.png">
				<div class="line-symbol-banner wow fadeInLeftBig" id="short-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInLeftBig" id="long-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="short-line-right" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="long-line-right" data-wow-delay="0.5s"></div>
			</div>
		</div>
	</div>
	
{{>footer}}

<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/wow/wow.min.js"></script>
	<script type="text/javascript">
		new WOW().init();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="js/slide-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</body>
</html>