{{>tittle}}
	
	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
<!--===============================================================================================-->
</head>
<body>
<div class="animsition">	

{{>header}}

	<!-- Title About Us page 
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">O Nas</h2>
				<h6 class="title-s">poznaj nas bliżej</h6>
			</div>
		</div>
	</section>
-->
	<!-- Intro -->
	<div class="wrap-intro for-page for-about-us">
		<div class="container">
			<div class="row">
				<div class="text-intro col-sm-10 col-md-8 col-lg-5 wow fadeInDown">
					<h3></h3>
					<h2>Colucci</h2>
					<p>
						Zapewniamy kompleksową obsługę maszyn, od pomocy w dobraniu odpowiedniego urządzenia do Państwa potrzeb, przez dostarczanie produktów do automatu, po utrzymanie go w czystości i sprawności technicznej.
					</p>
					<p>
						Wierzymy, że obsługa automatów to coś więcej niż tylko uzupełnianie produktów – to pełna troska o naszych Klientów! Potwierdzeniem naszych umiejętności jest satysfakcja dziesiątek tysięcy osób korzystających z naszych urządzeń. Mamy nadzieję, że także Państwo zdecydują się dołączyć do tego grona!
					</p>
					
				</div>

				<div class="wrap-pic-intro col-sm-10 col-md-8 col-lg-7">
					<div class="wrap-video-about-us">
						<img src="images/img-video-about-us.jpg" alt="video-about-us">
						<!-- <div class="wrap-video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/K2Q6YO3Ez44?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrap-intro for-page for-our-food">
		<div class="container">
			<div class="row">
				<div class="wrap-pic-intro col-sm-10 col-md-8 col-lg-5">
					<div class="hover-img wrap-video-about-us1">
						<img src="images/img-our-food-about-us.jpg" alt="video-about-us">
					</div>
				</div>

				<div class="text-intro col-sm-10 col-md-8 col-lg-7 wow fadeInDown">
					<h3></h3>
					<h2>Nasze Produkty</h2>
					<p>
					Wysoka jakość naszych usług to nie tylko zasługa ciężkiej pracy, doświadczenia i troski o klienta, to również gama własnych produktów. 
					</p>
					<p>
					Posiadamy w ofercie kawę z dedykowanej, ekologicznej plantacji, paloną we Włoskiej, rodzinnej palarni, jak również własny topping mleczny, czekoladę oraz wiele innych produktów, które znamy jak własną kieszeń i pozwalają nam utrzymywać niezmienną, najwyższą jakość od lat.
					</p>
				
				</div>

			</div>
		</div>
	</div>

	<!-- Team 
	<section class="team">
		<div class="container">
			
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Poznaj Nasz</h6>
					<h2>Wspaniały Zespół</h2>
				</div>
				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/img-about-us-01.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Imię Nazwisko</a></h3>
					<h6 class="medium-text">Nazwa stanowiska</h6>
					<p>
						Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
					</p>
				</div>

				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/img-about-us-02.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Imię Nazwisko</a></h3>
					<h6 class="medium-text">Nazwa stanowiska</h6>
					<p>
						Donec a fringilla tortor. Vestibulum viverra accumsan ipsum nec luctus. Integer tortor dolor, suscipit sed justo et, interdum dignissim arcu. 
					</p>
				</div>

				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/img-about-us-03.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Imię Nazwisko</a></h3>
					<h6 class="medium-text">Nazwa stanowiska</h6>
					<p>
						Duis lorem velit, sodales eget posuere in, commodo dictum felis. Aenean leo neque, pharetra vitae dui et, pretium venenatis metus.
					</p>
				</div>
			</div>			
		</div>
	</section> 
-->
{{>footer}}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	
<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/wow/wow.min.js"></script>

	<script type="text/javascript">
		new WOW().init();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</div>
</body>
</html>