{{>tittle}}

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/jqueryui/jquery-ui.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/slide100.css">
<!--===============================================================================================-->
</head>
<body>
<div class="animsition">	
	{{>header}}
	<!-- Title
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Szczegóły Produktu</h2>
				<h6 class="title-s">DOWIEDZ SIĘ WIĘCEJ</h6>
			</div>
		</div>
	</section>  -->

	<section class="content-shop-page">
		<div class="container">
			<div class="row">
				<!-- Slide -->
				<div class="col-responsive-product col-sm-10 col-md-7">
					<div class="wrap-slide-img-product row" id="slide100-01">
							<div class="col-12">
								<div class="main-frame">
									<div class="fix-frame wrap-pic">
										<img src="images/wfp2200/product-detail-img-01.jpg" alt="IMG-SLIDE">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/wfp2200/product-detail-img-01.jpg" alt="IMG-SLIDE">
										</div>
									</div>
									
									<span class="my-arrow back"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
									<span class="my-arrow next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="col-sub-img-1 col-4">
								<div class="sub-frame sub-1">
									<div class="fix-frame wrap-pic">
										<img src="images/wfp2200/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/wfp2200/product-detail-img-thumb-02.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-1"></div>
								</div>
							</div>
							<div class="col-sub-img-2 col-4">
								<div class="sub-frame sub-2">
									<div class="fix-frame wrap-pic">
										<img src="images/wfp2200/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/wfp2200/product-detail-img-thumb-03.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-2"></div>
								</div>
							</div>
							<div class="col-sub-img-3 col-4">
								<div class="sub-frame sub-3">
									<div class="fix-frame wrap-pic">
										<img src="images/wfp2200/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/wfp2200/product-detail-img-thumb-04.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-3"></div>
								</div>
							</div>
					</div>	
				</div>

				<div class="col-responsive-product col-sm-10 col-md-5">
					<div class="product">
						<h3 class="name-product medium-text-2">WFP-2200</h3>
						<span class="price-product medium-text">cena</span>
						<p>
                            Im więcej, tym lepiej. Dystrybutor WFP-2200 to idealne rozwiązanie do dużych lokalizacji ze względu na bezkonkurencyjny, niemal 14 litrowy zbiornik na wodę.
                        </p>
                    </div>

					<div class="info-product">
						<h4 class="title-info-product show small-text ">Dodatkowe informacje<span class="small-text show-content-info-product">+</span></h4>
						<div class="content-info-product">
						<p>
                            Dystrybutor posiada funkcje chłodzenia i podgrzewania wody, umożliwiającą parzenie kawy i herbaty.
                        </p>
                        <p>
                            Dystrybutor przygotowuje do bezpośredniego spożycia wodę zimną (5 – 12°C) oraz gorącą (89 – 95°C).
						</p>
						</div>
					</div>

					<div class="info-product">
						<h4 class="title-info-product small-text">Dane techniczne<span class="small-text show-content-info-product">+</span></h4>
						<div class="content-info-product">
								<table border="1" cellpadding="0" cellspacing="0" width="100%">
								<thead>
									<tr height="17">
										<th height="17" scope="col" style="height: 56px;"><center>WFP-2200</th>
										<th scope="col"><center>WOLNOSTOJĄCY</th>
									</tr>
								</thead>
								<colgroup>
									<col>
									<col>
									<col>
								</colgroup>
								<tbody>
								
									<tr height="19">
										<td height="19" style="height:19px;"><center>wysokość (mm)&nbsp;</td>
										<td><center>1205</td>
									
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>szerokość (mm)</td>
										<td><center>380</td>
									
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>głębokość (mm)</td>
										<td><center>430</td>
									
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>waga (kg)</td>
										<td><center>30</td>
										
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>pojemnik na wodę (l)</td>
										<td><center>13,9</td>
									
									</tr>	
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{{>footer}}

<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jqueryui/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap-notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="js/bootstrap-notify-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="js/slide100.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#slide100-01').slide100({
		    	autoPlay: "false",
            	timeAuto: 3000,
		    	deLay: 500,

				linkIMG: [
					'images/wfp2200/product-detail-img-01.jpg','images/wfp2200/product-detail-img-02.jpg',
					'images/wfp2200/product-detail-img-03.jpg','images/wfp2200/product-detail-img-04.jpg'
				],

				linkThumb: [
					'images/wfp2200/product-detail-img-thumb-01.jpg','images/wfp2200/product-detail-img-thumb-02.jpg',
					'images/wfp2200/product-detail-img-thumb-03.jpg','images/wfp2200/product-detail-img-thumb-04.jpg'
				]
		    });
		});
	</script>   
</div>
</body>
</html>