{{>tittle}}

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/jqueryui/jquery-ui.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/slide100.css">
<!--===============================================================================================-->
</head>
<body>
<div class="animsition">	
	{{>header}}
	<!-- Title
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Szczegóły Produktu</h2>
				<h6 class="title-s">DOWIEDZ SIĘ WIĘCEJ</h6>
			</div>
		</div>
	</section>  -->

	<section class="content-shop-page">
		<div class="container">
			<div class="row">
				<!-- Slide -->
				<div class="col-responsive-product col-sm-10 col-md-7">
					<div class="wrap-slide-img-product row" id="slide100-01">
							<div class="col-12">
								<div class="main-frame">
									<div class="fix-frame wrap-pic">
										<img src="images/XXOC/product-detail-img-01.jpg" alt="IMG-SLIDE">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/XXOC/product-detail-img-01.jpg" alt="IMG-SLIDE">
										</div>
									</div></a>
									
									<span class="my-arrow back"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
									<span class="my-arrow next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
								</div>
							</div>
							<div class="col-sub-img-1 col-4">
								<div class="sub-frame sub-1">
									<div class="fix-frame wrap-pic">
										<img src="images/XXOC/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/XXOC/product-detail-img-thumb-02.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-1"></div>
								</div>
							</div>
							<div class="col-sub-img-2 col-4">
								<div class="sub-frame sub-2">
									<div class="fix-frame wrap-pic">
										<img src="images/XXOC/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/XXOC/product-detail-img-thumb-03.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-2"></div>
								</div>
							</div>
							<div class="col-sub-img-3 col-4">
								<div class="sub-frame sub-3">
									<div class="fix-frame wrap-pic">
										<img src="images/XXOC/product-detail-img-thumb-02.jpg" alt="img-product">
									</div>

									<div class="wrap-main-pic">
										<div class="main-pic wrap-pic">
											<img src="images/XXOC/product-detail-img-thumb-04.jpg" alt="IMG-SLIDE">
										</div>
									</div>

									<div class=" btn-sub-frame btn-3"></div>
								</div>
							</div>
					</div>	
				</div>

				<div class="col-responsive-product col-sm-10 col-md-5">
					<div class="product">
						<h3 class="name-product medium-text-2">XX OC</h3>
						<span class="price-product medium-text">cena</span>
						<p>
							Jeden z najmniejszych modeli automatów typu table-top z naszej oferty. Ekonomiczne, najprostsze  rozwiązanie dla biur i małych kawiarni.
					
					</div>

					<div class="info-product">
						<h4 class="title-info-product show small-text ">Dodatkowe Informacje<span class="small-text show-content-info-product">+</span></h4>
						<div class="content-info-product">
							<p>
							Najmniejszy automat pracujący z systemami płatności: walidator , RFID, systemy bezgotówkowe.
							</p>
						
						</div>
					</div>

					<div class="info-product">
						<h4 class="title-info-product small-text">Dane techniczne<span class="small-text show-content-info-product">+</span></h4>
						<div class="content-info-product">
							<table border="1" cellpadding="0" cellspacing="0" width="100%">
								<thead>
									<tr height="17">
										<th height="17" scope="col" style="height: 56px;"><center>NAZWA</th>
										<th scope="col"><center>XX-OC INSTANT</th>
										<th scope="col"><center>XX-OC ESPRESSO</th>
									</tr>
								</thead>
								<colgroup>
									<col>
									<col>
									<col>
								</colgroup>
								<tbody>
									<tr height="20">
										<td height="20" style="height:20px;"><strong><center>ILOŚĆ WYBORÓW</strong></td>
										<td><center>8</td>
										<td><center>8</td>
									</tr>
									<tr height="20">
										<td height="20" style="height:20px;">&nbsp;</td>
										<td><center>&nbsp;</td>
										<td><center>&nbsp;</td>
									</tr>
									<tr height="20">
										<td height="20" style="height:20px;"><strong><center>DANE TECHNICZNE</strong></td>
										<td><center>&nbsp;</td>
										<td><center>&nbsp;</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>wysokość (mm)&nbsp;</td>
										<td><center>550</td>
										<td><center>550</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>szerokość (mm)</td>
										<td><center>285</td>
										<td><center>285</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>głębokość (mm)</td>
										<td><center>450</td>
										<td><center>450</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>waga (kg)</td>
										<td><center>20</td>
										<td><center>20</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>napięcie (V)</td>
										<td><center>220/240</td>
										<td><center>220/240</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>moc (W)</td>
										<td><center>1350</td>
										<td><center>2050</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>łącze wodne</td>
										<td><center>3/8"</td>
										<td><center>3/8"</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>pojemnik na wodę (l)</td>
										<td><center>2,1</td>
										<td><center>2,1</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>ilość pojemników (max)&nbsp;</td>
										<td><center>3</td>
										<td><center>3</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>ilość mikserów (max)&nbsp;</td>
										<td><center>2</td>
										<td><center>2</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>ilość bojlerów&nbsp;</td>
										<td><center>1</td>
										<td><center>1</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>czas przygotowania napoju (sec)</td>
										<td><center>10-15</td>
										<td><center>30-55</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>wysokość kubeczka (mm)</td>
										<td><center>80-130</td>
										<td><center>80-130</td>
									</tr>
									<tr height="20">
										<td height="20" style="height:20px;"><strong><center>ILOŚĆ PORCJI </strong>(przy pełnym pojemniku)</td>
										<td><center>&nbsp;</td>
										<td><center>&nbsp;</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>kawa instant&nbsp;</td>
										<td><center><center>ok.150</center></td>
										<td><center>ok.75</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>czekolada&nbsp;</td>
										<td><center>ok.45</td>
										<td><center>ok.45</td>
									</tr>
									<tr height="19">
										<td height="19" style="height:19px;"><center>kawa ziarnista&nbsp;</td>
										<td><center>&nbsp;</td>
										<td><center>ok.60</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{{>footer}}

<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jqueryui/jquery-ui.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap-notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="js/bootstrap-notify-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="js/slide100.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#slide100-01').slide100({
		    	autoPlay: "false",
            	timeAuto: 3000,
		    	deLay: 500,

				linkIMG: [
					'images/XXOC/product-detail-img-01.jpg','images/XXOC/product-detail-img-02.jpg',
					'images/XXOC/product-detail-img-03.jpg','images/XXOC/product-detail-img-04.jpg'
				],

				linkThumb: [
					'images/XXOC/product-detail-img-thumb-01.jpg','images/XXOC/product-detail-img-thumb-02.jpg',
					'images/XXOC/product-detail-img-thumb-03.jpg','images/XXOC/product-detail-img-thumb-04.jpg'
				]
		    });
		});
	</script>
</div>
</body>
</html>